<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <!-- Path relative to directory that contains .runsettings file-->
    <ResultsDirectory>.\TestResults</ResultsDirectory>

    <!-- x86 or x64 -->
    <!-- You can also change it from the Test menu; choose "Processor Architecture for AnyCPU Projects" -->
    <TargetPlatform>x64</TargetPlatform>

  </RunConfiguration>
  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="ui.base.url" value="http://localhost:5001/login" />
    <Parameter name="server.comm.port" value="4444" />
    <Parameter name="screenshot.dir" value="\ScreenShots\" />
    <Parameter name="reports.dir.name" value="\Reports\" />
    <Parameter name="reports.dir" value="\Reports\" />
    <Parameter name="reports.dir" value="\Reports\" />
    <Parameter name="reports.dir" value="\Reports\" />
  </TestRunParameters>

</RunSettings>