<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBSRC" value="Data Source=.\SQLEXPRESS;Initial Catalog=TrustedBank;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" />
    <add key="Query" value="Truncate table LoanApplications; DELETE FROM Users WHERE uRole not in ('administrator'); "/>
  </appSettings>
</configuration>